<div class="modal fade" id="ModalServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Servicio agregado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ingrese a "Items de sucursal" para administrar su servicio
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" [routerLink]="['/dashboard-comercio']"
                [queryParams]="{comercio: comercio}">
          Entendido
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Producto agregado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Ingrese a "Items de sucursal" para administrar su producto
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" [routerLink]="['/dashboard-comercio']"
                [queryParams]="{comercio: comercio}">
          Entendido
        </button>
      </div>
    </div>
  </div>
</div>

<app-main-header></app-main-header>
<br>
<div class="container" *ngIf="comercio">

  <div class="col-sm-auto d-flex justify-content-end">
    <a [routerLink]="['/dashboard-comercio']" [queryParams]="{comercio: comercio}">Volver atras</a>

  </div>

  <div class="pt-3 px-4">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Agregar ítem</h1>
    </div>


    <div>
      <form class="text-left form-group border border-light p-3">


        <div *ngIf="error" class="alert alert-danger col-lg-12" role="alert">
          <strong>{{error}}</strong>
        </div>


        <div class="form-row mb-4">
          <div class="col">
            <label for="nombre">Nombre</label>
            <input id="nombre" name="nombre" class="form-control" [(ngModel)]="item.nombre" #nombre="ngModel" type="text" required>
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
              <div *ngIf="nombre.errors.required">
                El nombre es requerido.
              </div>
            </div>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">
            <label for="descripcion">Descripción</label>
            <input id="descripcion" name="descripcion" class="form-control" [(ngModel)]="item.descripcion" #descripcion="ngModel" type="text" required>
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
              <div *ngIf="descripcion.errors.required">
                La descripción es requerida.
              </div>
            </div>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">
            <label for="precio">Precio</label>
            <input id="precio" class="form-control" type="number" min="0" name="precio" placeholder="₡ 1 000" (change)="precioadd($event)">
          </div>
          <div class="col">
            <label for="id_impuesto">Impuesto</label>
            <select id="id_impuesto" name="id_impuesto" class="form-control" [(ngModel)]="item.id_impuesto" #id_impuesto="ngModel" type="number" required>
              <option *ngFor="let imp of impuestos" value="imp.Id">{{imp.Nombre}} - {{imp.Porcentaje}}%</option>
            </select>
            <div *ngIf="id_impuesto.invalid && (id_impuesto.dirty || id_impuesto.touched)" class="alert alert-danger">
              <div *ngIf="id_impuesto.errors.required">
                El impuesto es requerido.
              </div>
            </div>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">
            <label for="tipo">Tipo</label>
            <select id="tipo" name="tipo" class="form-control" [(ngModel)]="item.tipo" #tipo="ngModel" type="text" required>
              <option value="Producto">Producto</option>
              <option value="Servicio">Servicio</option>
            </select>
            <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="alert alert-danger">
              <div *ngIf="tipo.errors.required">
                El tipo es requerido.
              </div>
            </div>
          </div>
        </div>


        <div class="form-row mb-4" *ngIf="tipo.value=='Servicio'">
          <div class="col">
            <label for="duracion">Duracion en minutos</label>
            <input id="duracion" class="form-control" type="number" min="0" name="duracion" (change)="duracionadd($event)">
          </div>
        </div>




        <div class="col">
          <h3>Sucursales</h3>
        </div>

        <div class="form-row mb-4 mt-4" *ngFor="let sucursal of sucursales">
          <label class="col-4" for="{{sucursal.id}}">{{sucursal.nombre}}</label>
          <input class="col-4" type="checkbox" name="{{sucursal.id}}" [value]="sucursal.id" (change)="marcar($event, sucursal.id)">
          <div *ngIf="tipo.value=='Producto' && sucursalesSeleccionadas.includes(sucursal.id)">
            <label class="col-4" for="inventario{{sucursal.id}}">Inventario</label>
            <input id="inventario{{sucursal.id}}" class="col-4" type="number" min="0" name="inventario{{sucursal.id}}" (change)="inventarioadd($event, sucursal.id)">
          </div>


        </div>



        <div class="form-row mb-4">

          <div class="col">
            <div class="d-flex justify-content-center img-container">
              <img [src]="foto" class="img-fluid d-flex justify-content-center" alt="Foto" style="width: 550px; height: 400px;">
            </div>
            <div class="d-flex justify-content-center">
              <div class="btn btn-mdb-color btn-rounded float-left">
                <div>
                  <label for="file-upload" style="cursor: pointer" class="btn btn-outline-secondary">
                    <input style="display:none;" id="file-upload" type="file" ng2FileSelect [uploader]="uploader" (change)="upload()" />
                    Elegir foto
                  </label>
                </div>

              </div>
            </div>

          </div>


        </div>


        <div class="container-fluid">

          <div style="margin-bottom: 10px;">
            <div *ngIf="(this.foto!='https://mdbootstrap.com/img/Photos/Others/placeholder.jpg' && nombre.valid && descripcion.valid && precio > 0 && id_impuesto.valid && tipo.value=='Producto' && (sucursalesSeleccionadas.length == (inventarios.length/2))); else servicio">
              <button class="btn btn-primary btn-lg btn-block primary-btn" (click)="crearItem()" data-toggle="modal" data-target="#ModalProducto">Crear Item</button>
            </div>

            <ng-template #servicio>
              <div *ngIf="(this.foto!='https://mdbootstrap.com/img/Photos/Others/placeholder.jpg' && nombre.valid && descripcion.valid && precio > 0 && id_impuesto.valid && tipo.value=='Servicio' && (this.dura > 0)); else noValido">
                <button class="btn btn-primary btn-lg btn-block primary-btn" (click)="crearItem()" data-toggle="modal" data-target="#ModalServicio">Crear Item</button>
              </div>
            </ng-template>

            <ng-template #noValido>
              <button class="btn btn-primary btn-lg btn-block" type="button" disabled>Crear ítem</button>
            </ng-template>

          </div>
          <div *ngIf="(nombre.invalid)" class="alert alert-danger col-6">
            *Nombre es requerido
          </div>
          <div *ngIf="(descripcion.invalid)" class="alert alert-danger col-6">
            *Descripcion es requerido
          </div>
          <div *ngIf="(precio <= 0)" class="alert alert-danger col-6">
            *Precio es requerido
          </div>
          <div *ngIf="(id_impuesto.invalid)" class="alert alert-danger col-6">
            *Impuesto es requerido
          </div>
          <div *ngIf="(tipo.invalid)" class="alert alert-danger col-6">
            *Tipo es requerido
          </div>
          <div *ngIf="(sucursalesSeleccionadas.length == 0)" class="alert alert-danger col-6">
            *Sucursal es requerido
          </div>
          <div *ngIf="tipo.value=='Producto' && (sucursalesSeleccionadas.length != (inventarios.length/2))" class="alert alert-danger col-6">
            *Inventario es requerido
          </div>
          <div *ngIf="tipo.value=='Servicio' && dura <= 0" class="alert alert-danger col-6">
            *Duracion es requerido
          </div>
          <div *ngIf="this.foto=='https://mdbootstrap.com/img/Photos/Others/placeholder.jpg'" class="alert alert-danger col-6">
            *Foto es requerido
          </div>
        </div>
        



      </form>
    </div>
  </div>
</div>

<ng-template #ItemProducto>
  <div class="col">
    <label for="duracion">Duración en minutos</label>
    <input id="duracion" name="duracion" class="form-control" [(ngModel)]="item.duracion" #duracion="ngModel" type="number" value="0" required readonly>

  </div>


</ng-template>

<app-footer></app-footer>
