<app-header></app-header>

<div class="container">
  <div id="login" [hidden]="section != 'login'">
    <div class="row justify-content-lg-center justify-content-md-center">
      <div class="col-lg-6">
        <div *ngIf="submitted && error!=null" class="alert alert-danger" role="alert">
          <strong>{{error.message}}</strong>
        </div>

        <form [formGroup]="loginForm" name="login" id="login" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="Correo">Correo</label>
            <input type="email"
                   class="form-control"
                   id="Correo"
                   placeholder="usuario@dominio.com"
                   formControlName="Correo"
                   required
                   [ngClass]="{ 'is-invalid': submitted && f.Correo.errors }">
            <div *ngIf="submitted && f.Correo.errors" class="invalid-feedback">
              <div *ngIf="f.Correo.errors.required">Email es requerido</div>
              <div *ngIf="f.Correo.errors.email">Email invalido</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Password">Contraseña</label>
            <input type="password"
                   class="form-control"
                   id="Password"
                   formControlName="Contrasena"
                   required
                   [ngClass]="{ 'is-invalid': submitted && f.Contrasena?.errors }">
            <div *ngIf="submitted && f.Contrasena?.errors" class="invalid-feedback">
              <div *ngIf="f.Contrasena?.errors.required">Contraseña es requerida</div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="site-btn" [disabled]="processingRequest">Iniciar Sesión</button>
            <a (click)="changeSection('reset')">¿Olvidó su contraseña?</a>
          </div>
        </form>
      </div>
    </div>
    <div class="row justify-content-sm-center justify-content-lg-center justify-content-md-center">
      <p>¿No tienes una cuenta aun? <a (click)="changeSection('register')">Registrate aqui</a></p>
    </div>
  </div>

  <div id="Register" [hidden]="section != 'register'">
    <div class="row justify-content-lg-center justify-content-md-center">
      <div class="col-lg-12">
        <app-agregar-usuario integrarCon="pagina"></app-agregar-usuario>
      </div>
    </div>

    <div class="row justify-content-sm-center justify-content-lg-center justify-content-md-center">
      <p>¿Ya tienes una cuenta? <a (click)="changeSection('login')">Inicia sesion aqui</a></p>
    </div>
  </div>

  <div id="Reset" [hidden]="section != 'reset'">
    <div class="row justify-content-lg-center justify-content-md-center">
      <div class="col-lg-6 col-md-6">
        <div *ngIf="submittedReset && error!=null" class="alert alert-danger" role="alert">
          <strong>{{error.message}}</strong>
        </div>

        <p>Introduzca el correo electronico asociado a la cuenta que desea recuperar:</p>

        <form [formGroup]="resetForm" name="resetForm" id="resetForm" (ngSubmit)="onRestablecerContrasena()">
          <div class="form-group">
            <label for="CorreoReset">Correo</label>
            <input type="email"
                   class="form-control"
                   id="CorreoReset"
                   placeholder="usuario@dominio.com"
                   formControlName="CorreoReset"
                   required
                   [ngClass]="{ 'is-invalid': submittedReset && fr.CorreoReset.errors }">
            <div *ngIf="submittedReset && fr.CorreoReset.errors" class="invalid-feedback">
              <div *ngIf="fr.CorreoReset.errors.required">Correo es requerido</div>
              <div *ngIf="fr.CorreoReset.errors.email">Correo invalido</div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="site-btn" [disabled]="processingResetRequest">Restablecer Contraseña</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row justify-content-lg-center justify-content-md-center">
      <p>¿No tienes una cuenta aun? <a (click)="changeSection('register')">Registrate aqui</a></p>
    </div>

    <div class="row justify-content-lg-center justify-content-md-center">
      <p>¿Ya tienes una cuenta? <a (click)="changeSection('login')">Inicia sesion aqui</a></p>
    </div>
  </div>

  <div id="reseted" [hidden]="section != 'reseted'">
    <div class="row justify-content-lg-center justify-content-md-center">
      <div class="col-lg-6 col-md-6">
        <h1>Listo!</h1>
        <p>Un correo fue enviado a tu cuenta para proceder con el reestablecimeinto de la contraseña.</p>
        <p><a [routerLink]="['']">Haz click aqui para volver a la pagina principal</a></p>
      </div>
    </div>
  </div>

  <div id="activate" [hidden]="section != 'activate'">
    <div class="row justify-content-lg-center justify-content-md-center">
      <div class="col-lg-6 col-md-6">
        <div *ngIf="submittedCodigo && error!=null" class="alert alert-danger" role="alert">
          <strong>{{error.message}}</strong>
        </div>

        <p>Como parte del proceso de registro un codigo de 8 digitos fue enviado a su correo electronico</p>
        <p>Digite el codigo enviado en el siguiente cuadro de texto</p>

        <form [formGroup]="activateForm" name="activateForm" id="activateForm" (ngSubmit)="onActivate()">
          <div class="form-group">
            <label for="Codigo">Codigo de activacion:</label>
            <input type="text"
                   class="form-control"
                   id="Codigo"
                   formControlName="Codigo"
                   required
                   [ngClass]="{ 'is-invalid': submittedCodigo && fc.Codigo.errors }">
            <div *ngIf="submittedCodigo && fc.Codigo.errors" class="invalid-feedback">
              <div *ngIf="fc.Codigo.errors.required">El codigo es requerido</div>
              <div *ngIf="fc.Codigo.errors.minlength">El codigo debe ser de 8 digitos</div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="site-btn" [disabled]="processingActivateRequest">Activar Codigo</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="fillData" [hidden]="section != 'fillData'">
    <app-editar-usuario 
      id="{{usuario.Id}}" 
      integrarCon="pagina" 
      titulo="Ya casi estamos listos" 
      *ngIf="usuario?.Id != null">
    </app-editar-usuario>
  </div>

  <div id="activated" [hidden]="section != 'activated'">
    <div class="row justify-content-lg-center justify-content-md-center">
      <div class="col-lg-6 col-md-6">
        <h1>Bienvenido!</h1>
        <p>Tu cuenta ha sido activada correctamente. Ya puedes usar nuestra plataforma por completo</p>
        <p><a [routerLink]="['']">Haz click aqui para continuar</a></p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
