<app-main-header></app-main-header>

<div class="container">
    <div class="row m-3">
        <div class="col-xl">
            <h2>Citas del comercio</h2>
        </div>
        <div class="col">
            <button class="btn btn-primary" (click)="citasEmpleado()">Ver mis citas</button>
        </div>
    </div>
    <div *ngIf="citas; else noDisponible">
        <table class="table table-striped table-sm text-center">
        <thead>
            <tr>
            <th class="text-center">Fecha</th>
            <th class="text-center">Hora inicio</th>
            <th class="text-center">Hora Fin</th>
            <th class="text-center">Cliente</th>
            <th class="text-center" *ngIf="!misCitas">Empleado asignado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cita of citas">
            <td>{{cita.fecha_s}}</td>
            <td>{{cita.hora_i}}</td>
            <td>{{cita.hora_f}}</td>
            <td>{{cita.nombre_cliente}}</td>
            <td>{{cita.nombre_empleado}}</td>
            <td *ngIf="misCitas">
                <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/dashboard-comercio/cita-detalles', cita.id]">Ver detalles</button>
            </td>
            </tr>

        </tbody>
    </table>
    </div>
</div>

<app-footer></app-footer>

<ng-template #noDisponible>
    <p>Sin citas registradas</p>
</ng-template>
