<div class="container">
  <p>dashboard-admin works!</p>

  <a [routerLink]="['usuario/listar-usuario']">Usuarios</a> &nbsp;&nbsp;
  <a [routerLink]="['../promociones']">Promociones</a> &nbsp;&nbsp;
  <a [routerLink]="['../configuracion']">Configuracion</a>&nbsp;&nbsp;
  <a [routerLink]="['../perfil-admin-comercio']">Comercios</a>&nbsp;&nbsp;
  <a [routerLink]="['']">Reportes</a>&nbsp;&nbsp;
  <a [routerLink]="['../listar-impuesto']">Impuestos</a>&nbsp;&nbsp;
  <a [routerLink]="['../listar-categoria']">Categorias</a>&nbsp;&nbsp;
</div>
