<app-main-header></app-main-header>
<div class="container" *ngIf="productos">

  <div class="col-sm-auto d-flex justify-content-end">
    <a [routerLink]="['/']">Volver atras</a>

  </div>


  <h2 class="d-flex justify-content-center">Productos</h2>


  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of productos">
      <div class="product__item">
        <div class="product__item__pic set-bg img-container" data-setbg="item.id_foto">
          <img [src]="item.id_foto" alt="Foto">
          <ul class="product__item__pic__hover">
            <li><a href="#"><i class="fa fa-heart"></i></a></li>
            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </div>
        <div class="product__item__text">
          <h6><a href="#">{{item.nombre}}</a></h6>
          <h5>{{item.precio}}</h5>
        </div>
      </div>
    </div>

  </div>


  <!--<div>
    <div *ngFor="let item of productos">

      <div class="card h-100" style="width: 18rem; height: 18rem;">
        <div class="img-container">
          <img class="card-img-top img-fluid img" [src]="item.id_foto" alt="Foto">
        </div>
        <div class="card-body">
          <hr />
          <h4>{{item.nombre}}</h4>
          <p class="card-text">{{item.precio}}</p>
        </div>
        <div class="card-footer">

          <a>
            <button class="btn btn-primary">Ver item</button>
          </a>
        </div>

      </div>
    </div>
  </div>-->

</div>
<app-footer></app-footer>
