

<div class="container">

  <h1>Lista de impuestos</h1>

  <div class="row">

    <div class="col-sm-1">
      <a [routerLink]="['/crear-impuesto']">
        <button type="button" class="btn btn-primary">Registrar</button>
      </a>
    </div>

    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="buscarImpuesto" placeholder="Buscar.." [(ngModel)]="buscarImpuesto" />
      </div>
      
    </div>

  </div>

  <table class="table table-striped .table-responsive-sm"  *ngIf ="service.impuestos" >
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Porcentaje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let impuesto of service.impuestos | buscarImpuesto:buscarImpuesto" >
        <td>{{impuesto.Id}}</td>
        <td>{{impuesto.Nombre}}</td>
        <td>{{impuesto.Porcentaje}}</td>
        <td><button (click)="editar(impuesto)" class="btn btn-secondary">Editar</button></td>
        <td><button (click)="eliminar(impuesto.Id)" class="btn btn-secondary"><i class="fas fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <h2>Editar impuestos</h2>
    <form>
      <fieldset>
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" class="form-control" name="id" readonly value="{{selectedImpuesto.Id}}">
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="selectedImpuesto.Nombre">
        </div>
        <div class="form-group">
          <label for="porcentaje">Porcentaje</label>
          <input type="number" class="form-control" name="porcentaje" [(ngModel)]="selectedImpuesto.Porcentaje">
        </div>
        <button class="btn btn-primary" (click)="completarModificar(selectedImpuesto)">Guardar cambios</button>
      </fieldset>
    </form>
  </div>
</div>

<app-footer></app-footer>
