
<div>

  <h1>Lista de impuestos</h1>

  <div>
    <input type="text" class="form-control" name="buscarImpuesto"  placeholder="Buscar.." />

  </div>
  <table class="tabla table-hover"  *ngIf ="service.impuestos" >
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Porcentaje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let impuesto of service.impuestos" >
        <td>{{impuesto.Id}}</td>
        <td>{{impuesto.Nombre}}</td>
        <td>{{impuesto.Porcentaje}}</td>
        <td><button (click)="editar(impuesto)" class="btn btn-sm btn-outline-danger"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
        <td><button (click)="eliminar(impuesto.Id)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <form>
      <fieldset>
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" class="form-control" name="id" readonly value="{{selectedImpuesto.Id}}">
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="selectedImpuesto.Nombre">
        </div>
        <div class="form-group">
          <label for="porcentaje">Apellido</label>
          <input type="number" class="form-control" name="porcentaje" [(ngModel)]="selectedImpuesto.Porcentaje">
        </div>
        <button class="btn btn-primary" (click)="completarModificar(selectedImpuesto)">Guardar cambios</button>
      </fieldset>
    </form>
  </div>
</div>
