<!-- Modal Aceptar-->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Envío aceptado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                El envío ha sido aceptado exitósamente y el cliente ha sido notificado.
                Por favor proceda a entregar el paquete a su destino.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="aceptarEnvio()">Entendido</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal QR-->
<div class="modal fade" id="ModalQR" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación por código QR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container w-50">
                    <qr-scanner 
                    [debug]="false" 
                    [canvasWidth]="1080" 
                    [canvasHeight]="720" 
                    [stopAfterScan]="true" 
                    [updateTime]="500">
                    </qr-scanner>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal código manual-->
<div class="modal fade" id="ModalCodigoManual" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación manual</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="codigoConfirmacion" class="col-form-label">Código de confirmación:</label>
              <input type="text" class="form-control" id="codigoConfirmacion" 
              [ngModel]="codigoIngresado" name="codigoIngresado">
            </div>
          </form>
          <div *ngIf="error" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="confirmacionManual()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

<app-main-header></app-main-header>


<div class="container container-fluid">
    <br>
    <div class="col-sm-auto d-flex justify-content-end">
        <a [routerLink]="['/listar-envio-sucursal', sucursal]">Volver atras</a>

    </div>
    <div class="pt-3 px-4">
        <h2>Envio # {{envioList.id}}</h2>
        <h4>Estado: {{estadoToString()}}</h4>
        <div class="col-sm-auto d-flex justify-content-end">
            <Button class="btn btn-primary" data-toggle="modal" data-target="#Modal">Aceptar envío</Button>
        </div>
        <hr>
        <h4>Confirmación</h4>
        <p>Pasos para finalizar el envío: </p>
        <ul>
            <li>Diríjase a la ubicación del cliente.</li>
            <li>Escanee el código de confirmación de la pantalla del cliente o 
                solicite el código al cliente e ingréselo manualmente.</li>
            <li>Si la entrega es exitosa, presione Finalizar entrega.</li>
        </ul>
        <br>
        <div class="col-sm-auto d-flex justify-content-center">
            <button class="btn btn-primary" data-toggle="modal" data-target="#ModalQR">Escanear código QR</button> &nbsp;&nbsp;
            <button class="btn btn-primary" data-toggle="modal" data-target="#ModalCodigoManual">Ingresar código manualmente</button>
        </div>
        <hr>
        <br>
        <h3>Ítems</h3>
        <div class="table-responsive">
            <table class='table table-striped' aria-labelledby="tableLabel">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{ item.id }}</td>
                        <td>{{ item.nombre }}</td>
                        <td> 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="container">
        <h3>Ubicación del cliente</h3>
        <hr>

        <div class="embed-responsive embed-responsive-4by3 w-75">
            <iframe class="embed-responsive-item" [src]="link2|safe" width="300" height="200" frameborder="0"
                style="border:0"></iframe>
        </div>
    </div>



</div>


<br><br>
<app-footer></app-footer>