<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carrito de compras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="addExperience" class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <div class="col-md-12">
              <p>Seleccione la opción correspondiente si desea recoger el producto o recibirlo por envío</p>
              <p>Al seleccionar la opción de recibir por envío, se usará su dirección predeterminada.</p>
              <select class="user-form selectpicker show-tick form-control" data-live-search="true" id="tipoLogistica" name="logistica" [(ngModel)]="txtLogistica" #tipoLogistica="ngModel" required>
                <option disabled selected>-- Seleccione una opción --</option>
                <option>Recoger en el local</option>
                <option>Recibirlo por envío</option>
              </select>

              <div *ngIf="tipoLogistica.invalid && (tipoLogistica.dirty || tipoLogistica.touched)"
                   class="alert alert-danger">

                <div *ngIf="tipoLogistica.errors.required">
                  Debe elegir una opción.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        <div *ngIf="(tipoLogistica.valid); else noValido">
          <button type="button" class="primary-btn" data-dismiss="modal" (click)="pagar()">Pagar</button>
        </div>

        <ng-template #noValido>
          <button type="button" class="primary-btn" data-dismiss="modal" disabled>Continuar</button>
        </ng-template>



      </div>
    </div>
  </div>
</div>

<app-header></app-header>
<div class="container">
  <div *ngIf="error" class="alert alert-danger col-lg-12" role="alert">
    <strong>{{error.message}}</strong>
  </div>
  <div class="container">
    <h2>Carrito de compras</h2>


    <div *ngIf="carritoLocalStorage; else carritoVacio">
      <table class="table table-striped table-sm text-center">
        <thead>
          <tr>
            <th class="text-center">Item</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of carritoLocalStorage">
            <td><img [src]="item.id_foto" style="width: 80px; height: 80px;" /></td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td> ₡{{ item.precio | number:0}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminarItem(item)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    


  </div>

  <div class="container" *ngIf="tipoCarrito == 'Servicio' || citaProducto">
    <form action="" >
      <div class="row">
          <div class="col">
              <label for="date">Seleccione la fecha de la cita: </label>
              <div class="form-group">
                  <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                          name="dp" [(ngModel)]="datePicker" ngbDatepicker [minDate]="date" min-date="date" #d="ngbDatepicker">
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                  </div>
                  </div>
              </div>
              
          </div>
      </div>
      <div class="row">
          <div class="col">
              <label for="">Seleccione la hora: (Utilizar formato 24h)</label>
              <ngb-timepicker name="time" [(ngModel)]="time" [spinners]="false" class="m-5"></ngb-timepicker>
          </div>
      </div>
  
    </form>
  </div>

  <div *ngIf="usuarioLogueado != null && carritoLocalStorage">
    <div style="text-align: right;">
      <h3>Total: ₡{{ total | number:0}}</h3>
      <div *ngIf="tipoCarrito == 'Producto'  && !citaProducto">
        <button class="primary-btn" style="border: none;" data-toggle="modal" data-target="#Modal">Continuar</button>
      </div>

      <div *ngIf="tipoCarrito == 'Servicio'">
        <button class="primary-btn" style="border: none;" (click)="agendarCitaServicio()">Agendar cita</button>
      </div>

      <div *ngIf="citaProducto">
        <button class="primary-btn" style="border: none;" (click)="agendarCitaProductos()">Agendar cita</button>
      </div>

    </div>
  </div>
</div>
<br>
<app-footer></app-footer>

<ng-template #carritoVacio >
  <div ><p>Sin productos en el carrito de compras</p></div>
  <br>
  <br>
  <br>
  <br>
  <br>

</ng-template>
