<app-main-header></app-main-header>

<body>
    <div class="container container-fluid" >

 
        <div class="pt-3 px-4">
          <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Envíos en curso</h1>
          </div>
      
      
          <div class="table-responsive">
            <div class="mb-4 col-md-6">
              <input type="text" class="form-control" placeholder="Buscar"  />
            </div>
            <table class='table table-striped' aria-labelledby="tableLabel">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre de cliente</th>
                  <th>Estado</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let envio of envios">
                  <td >{{ envio.id }}</td>
                  <td >{{ envio.nombre_cliente }}</td>
                  <td >{{ estadoToString(envio.estado) }}</td>
                  <td ><button *ngIf="envio.estado!=2" 
                    class="btn btn-primary" 
                    [routerLink]="['/listar-envio-sucursal',id_sucursal,'envio-detalle', envio.id]"> 
                    <i class="fas fa-shipping-fast"></i>&nbsp;Seguimiento</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
      
      
      </div>
</body>

<app-footer></app-footer>