<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="assets/img/logo/Logo_VerdeFondoTransparente.png" alt=""></a>
                        
                    </div>
                    <ul>
                        <li>Email: pulsarlabs05@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Links</h6>
                    <ul>
                        <li><a href="#">Acerca de nosotros: </a></li>
                        <li><a href="#">Quienes somos</a></li>
                        <li><a href="#">Nuestros proyectos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                    <ul>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Nuestras redes</h6>
                    
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</footer>