<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a [routerLink]="['/']"><img src="assets/img/logo/Logo_VerdeFondoTransparente.png" alt=""></a>
                        
                    </div>
                    <ul>
                        <li>Email: pulsarlabs05@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget mt-5">
                    <h6 class="mt-5">Links</h6>
                    <a [routerLink]="['/landing-pulsar']">Acerca de nosotros</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
               
            </div>
        </div>
        
        
    </div>
</footer>
