<div class="container">

  <div class="row">
    <div class="col-md">
      <app-com-por-cat-reporte></app-com-por-cat-reporte>
    </div>

    <div class="col-md">
      <app-empleados-por-comercio-reporte></app-empleados-por-comercio-reporte>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <app-usuario-tipo-reporte></app-usuario-tipo-reporte>
    </div>

    <div class="col-md">
      <app-usuario-estado-reporte></app-usuario-estado-reporte>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <app-citas></app-citas>
    </div>

    <div class="col-md">
      <app-metodos-pago></app-metodos-pago>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <app-transacciones></app-transacciones>
    </div>

    <div class="col-md">
      <app-ventas></app-ventas>
    </div>
  </div>


</div>
