<div class="container">
    
    <div class="row">
        <div class="col-md">
            <app-com-por-cat-reporte></app-com-por-cat-reporte>
        </div>        

        <div class="col-md">
            <app-empleados-por-comercio-reporte></app-empleados-por-comercio-reporte>
        </div>  
    </div>

    <div class="row">
        <div class="col-md">
            <app-usuario-tipo-reporte></app-usuario-tipo-reporte>
        </div>

        <div class="col-md">
            <app-usuario-estado-reporte></app-usuario-estado-reporte>
        </div>
    </div>

    
</div>
