<div class="container">
  <h1>Empleados</h1>
  <p>Listado de empleados registrados</p>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="agregarEmpleado()">Registrar nuevo</button><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped table-responsive-sm">
        <thead>
          <tr>
            <th>Id</th>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Comercio</th>
            <th>Sucursal</th>
            <th></th>
          </tr>
        </thead>
        <tr *ngFor="let empleado of empleados">
          <td>{{empleado.Id}}</td>
          <td>{{empleado.Correo}}</td>
          <td>{{empleado.UsuarioNombre}} {{empleado.Apellido}}</td>
          <td>{{empleado.RolNombre}}</td>
          <td>{{empleado.NombreComercio}}</td>
          <td>{{empleado.SucursalNombre}}</td>
          <td>
            <button (click)="onUpdate(empleado.Id)" class="btn btn-sm"> Editar</button>
            <button (click)="onDelete(empleado.Id)" class="btn btn-sm btn-outline-danger">X</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
