<app-header></app-header>
<div class="container">
  <div class="jumbotron">
  <h1 class="display-4 text-center">Lista de roles</h1>
  <table class="table table-hover ">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <!-- <th>Comercio</th> -->
        <th></th>
      </tr>
    </thead>
    <tr *ngFor="let rol of service.list">
      <td>{{rol.id}}</td>
      <td>{{rol.nombre}}</td>
      <td>{{rol.descripcion}}</td>
      <!-- <td>{{rol.id_comercio}}</td> -->
      <td><button (click)="onUpdate(empleado)" class="btn btn-sm">Editar</button></td>
      <td><button (click)="onDelete(rol.id)" class="btn btn-sm btn-outline-danger">X</button></td>
    </tr>
  </table>
</div>


</div>
<app-footer></app-footer>