<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Eliminar rol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Confirma que desea eliminar el rol seleccionado?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary btn-danger" (click)="onDelete(id_rol)"
          data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<app-main-header></app-main-header>
<br>
<div class="container-fluid container">
  <main role="main">
    <div class="col-sm-auto d-flex justify-content-end">
      <a [routerLink]="['/dashboard-comercio']" [queryParams]="{comercio: id_comercio}">Volver atras</a>

    </div>
    <h1 class="display-4 text-center">Lista de roles</h1>
    <br>
    <button type="button" class="btn btn-primary" [routerLink]="['/agregar-rol', service.id_comercio]">Nuevo rol +
    </button>
    <br>
    <br>
    <div class="table-responsive">
      <input type="text" class="form-control" placeholder="Buscar" name="fitro" [(ngModel)]="filtro" />
      <br>
      <table class="table table-striped table-sm text-center">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripción</th>
            <th></th>
          </tr>
        </thead>
        <tr *ngFor="let rol of list | filtroRol: filtro">
          <td>{{rol.id}}</td>
          <td>{{rol.nombre}}</td>
          <td>{{rol.descripcion}}</td>
          <td><button (click)="onUpdate(rol.id)" class="btn btn-outline-info btn-sm">
              <i class="fas fa-edit"></i>
            </button></td>
          <td><button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#Modal"
              (click)="rolToDelete(rol.id)"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
      </table>
      <br>
    </div>
  </main>
</div>

<app-footer></app-footer>