<app-main-header></app-main-header>

<div class="container">
  <h1>Registro de categorias</h1>
  <button class="btn btn-primary btn-categoria" type="button" router-link="['/listar-categoria']">Lista de categorias</button>

  <form class="form-group">
    <fieldset>
      <div class="form-group col-lg-6 col-md-6">
        <label for="exampleInputEmail1">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" required [(ngModel)]="crearCategoria.Nombre">
      </div>

      <button class="btn btn-primary" (click)="crear(crearCategoria)">Guardar categoria</button>
    </fieldset>
  </form>
</div>




<app-footer></app-footer>
