

<div class="container">
  <h1>Registro de categorias</h1>
  <a [routerLink]="['/listar-categoria']">
    <button type="button" class="btn btn-primary">Listar categorias</button>
  </a>
  <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="form-group col-lg-6 col-md-6">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" required [(ngModel)]="crearCategoria.Nombre" formControlName="Nombre" [ngClass]="{'is-invalid': submitted && f.Nombre.errors}">
        <div *ngIf="submitted && f.Nombre.errors" class="invalid-feedback">
          <div *ngIf="f.Nombre.errors.required">Nombre es requerido</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Crear categoria</button>
    </fieldset>
  </form>
</div>




<app-footer></app-footer>
