<app-main-header></app-main-header>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h1>Modificar empleado</h1>
            <p>Ingrese los datos que desea modificar</p>
        </div>

        <div class="col-lg-2 col-md-2">
            <a [routerLink]="['../../listar-empleado', {comercio:comercioId}]">Volver atras</a>
        </div>
    </div>
    <hr>
    <!-- <form (submit)="onSubmit(form)" autocomplete="off">

        <div class="row">


            <div class="form-group col-lg-6 col-md-6">
                <label for="rol">Rol</label>
                <select class="form-control" name="rol" id="rol" required
                    [ngClass]="{ 'is-invalid': submitted && f.Rol.errors }">
                    <option *ngFor="let rol of roles" value="{{rol.id}}">{{rol.nombre}}</option>
                </select>
                <div *ngIf="submitted && f.Rol.errors" class="invalid-feedback">
                    <div *ngIf="f.Rol.errors.required">Rol es requerido</div>
                </div>
            </div>
        </div>



        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>

    </form> -->
    <form class="form-group col-lg-6 col-md-6" [formGroup]="sucursalForm">
        <select formControlName="sucursalControl">
            <option [ngValue]="sucursal" *ngFor="let sucursal of sucursales">{{sucursal.nombre}}</option>
        </select>
    </form>

    <form class="form-group col-lg-6 col-md-6" [formGroup]="rolForm">
        <select formControlName="rolControl">
            <option [ngValue]="rol" *ngFor="let rol of roles">{{rol.nombre}}</option>
        </select>
    </form>
    <div class="form-group">
        <button (click)="updateRecord()" class="btn btn-primary">Guardar Cambios</button>
    </div>
    <button (click)="verCambio()"></button>

</div>

<br>
<app-footer></app-footer>