<div class="container">
    <div id="register" *ngIf="!registerComplete">
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <h1>Registro de promoción</h1>
                <p>Ingrese los siguientes datos</p>
            </div>
            <div class="col-lg-2 col-md-2" >
                <a [routerLink]="['../promociones']">Volver atras</a>
            </div>
        </div>

        <div *ngIf="submitted && promocionForm.invalid" class="alert alert-danger col-lg-12" role="alert">
            * Existen algunos datos invalidos. Por favor corrija los datos de los controles marcados en rojo
        </div>

        <form [formGroup]="promocionForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-sm">
                    <label for="nombre">Nombre</label>
                    <input type="text"
                            class="form-control"
                            name="nombre"
                            id="nombre"
                            formControlName="nombre"
                            placeholder="Nombre"
                            required
                            [ngClass]="{'is-invalid': submitted && f.nombre.errors}">
                        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.Nombre.errors.required">Nombre es requerido</div>
                        </div>
                </div>
                

                <div class="form-group col-sm">
                    <label for="codigo">Codigo</label>
                    <input type="text"
                            class="form-control"
                            name="codigo"
                            id="codigo"
                            formControlName="codigo"
                            placeholder="Codigo"
                            required
                            [ngClass]="{'is-invalid': submitted && f.codigo.errors}">
                        <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
                            <div *ngIf="f.codigo.errors.required">Codigo es requerido</div>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="number"
                            class="form-control"
                            name="porcentaje"
                            id="porcentaje"
                            formControlName="porcentaje"
                            placeholder="0"
                            required
                            [ngClass]="{'is-invalid': submitted && f.porcentaje.errors}">
                        <div *ngIf="submitted && f.porcentaje.errors" class="invalid-feedback">
                            <div *ngIf="f.porcentaje.errors.required">Porcentaje es requerido</div>
                        </div>
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    <label for="cantidad">Cantidad</label>
                    <input type="number"
                            class="form-control"
                            name="cantidad"
                            id="cantidad"
                            formControlName="cantidad"
                            placeholder="100"
                        
                            required
                            [ngClass]="{'is-invalid': submitted && f.cantidad.errors}">
                        <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
                            <div *ngIf="f.cantidad.errors.required">Cantidad es requerido</div>
                        </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Registrar</button>
      <p>&nbsp;</p>
        </form>
    </div>
</div>
