<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div *ngIf="items">
                <table class="table table-striped table-sm text-center">
                  <thead>
                    <tr>
                      <th class="text-center">Item</th>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Descripción</th>
                      <th class="text-center">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of items">
                      <td><img [src]="item.id_foto" style="width: 80px; height: 80px;" /></td>
                      <td>{{ item.nombre }}</td>
                      <td>{{ item.descripcion }}</td>
                      <td> ₡{{ item.precio | number:0}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>

        <div class="col-4">
            <div *ngIf="cita">
                <qrcode [qrdata]="cita.codigo" [width]="213" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-outline-danger btn-sm">Cancelar cita</button>
    </div>
      
</div>

<app-footer></app-footer>

<div class="container">
    <div class="container w-50">
        <qr-scanner 
        [debug]="false" 
        [canvasWidth]="1080" 
        [canvasHeight]="720" 
        [stopAfterScan]="true" 
        [updateTime]="500">
        </qr-scanner>
    </div>
</div>

