<app-main-header></app-main-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <app-sidebar-admin></app-sidebar-admin>
    </div>

    <div class="col-lg-10">
    <h1>Promociones</h1>
    <p>Listado de promociones registradas</p>
  
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <a [routerLink]="['/dashboard-admin/promocion/agregar']">
        <button class="btn btn-primary">Registrar nueva</button>
      </a><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar..." name="filtroPromociones" [(ngModel)]="filtroPromociones"><br>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <table class="table table-striped .table-responsive-sm" *ngIf="promociones">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descuento</th>
            <th class="d-none d-sm-block">Código</th>
            <th>Disponibles</th>
            <!-- <th>Comercio</th>
            <th class="d-none d-sm-block">Surcusal</th> -->
            <th colspan="2">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let promocion of promociones | filtroPromocion:filtroPromociones">
            <td>{{ promocion.id }}</td>
            <td>{{ promocion.nombre }}</td>
            <td>{{ promocion.porcentaje }}%</td>
            <td class="d-none d-sm-block">{{ promocion.codigo }}</td>
            <td >{{ promocion.cantidad }}</td>
            <!-- <td *ngIf="promocion.id_comercio > 0; else sinComercio">{{promocion.id_comercio}}</td>
            <td class="d-none d-sm-block" *ngIf="promocion.id_sucursal > 0; else sinSucursal">{{ promocion.id_sucursal }}</td> -->
            <td>
              <button class="btn btn-secondary" (click)="eliminar(promocion.id)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
<app-footer></app-footer>

<ng-template #sinComercio>
  <td>Sin comercio asociado</td>
</ng-template>

<ng-template #sinSucursal>
  <td>Sin sucursal asociada</td>
</ng-template>

