<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Carrito de compras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Has agregado el item al carrito de compras.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>
<app-header></app-header>

<div class="container" *ngIf="item_seleccionado && sucursal && impuesto && comercio">

  <div *ngIf="error" class="alert alert-danger col-lg-12" role="alert">
    <strong>{{error}}</strong>
  </div>

  <section class="product-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="product__details__pic">
            <div class="product__details__pic__item">
              <img class="product__details__pic__item--large" [src]="item_seleccionado.id_foto" alt="Foto">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="product__details__text">
            <h3>{{item_seleccionado.nombre}}</h3>
            <p><app-calificacion item="{{item_seleccionado.id}}"></app-calificacion></p>
            <div class="product__details__rating">
              <i class="">{{comercio.nombre}}</i>
            </div>
            <div class="product__details__price">₡{{preciofinal | number}} ii</div>
            <p>
              {{item_seleccionado.descripcion}}
            </p>
              <button class="primary-btn" style="border: none" (click)="agregarItemCarrito()" data-toggle="modal" data-target="#Modal" [disabled]="agregarProductoCarrito">Agregar a carrito</button>
            <ul>
              <li *ngIf="item_seleccionado.tipo === 'Servicio'"><b>Duración</b> <span>{{item_seleccionado.duracion}}
                  minutos</span></li>
              <li><b>Disponibilidad</b> <span>{{item_seleccionado.inventario}} unidades</span></li>
              <li><b>Impuesto</b> <span>{{impuesto.Nombre}} <samp> {{impuesto.Porcentaje}}%</samp></span></li>
              <li><b>Detalle sucursal</b> <span>{{sucursal.nombre}} - {{sucursal.detallesDireccion}}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
