<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li *ngIf="usuarioLogueado != null">
                <i class="fa fa-envelope"></i>{{ usuarioLogueado.usuario.Correo }}
              </li>
              <li>#QuédateEnCasa</li>
            </ul>
          </div>
        </div>

        <!--Acá está el inicio de sesión-->
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__auth">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                  <i class="fa fa-user"></i>
                  <span *ngIf="usuarioLogueado == null"> Iniciar sesión</span>
                  <span *ngIf="usuarioLogueado != null">
                    {{ usuarioLogueado.usuario.Nombre }} 
                    {{ usuarioLogueado.usuario.Apellido }}
                  </span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <span *ngIf="usuarioLogueado == null">
                    <a class="dropdown-item" [routerLink]="['/autenticacion']">
                      <i class="fa fa-user"></i>
                      Iniciar sesión
                    </a>
                  </span>

                  <span *ngIf="usuarioLogueado != null">
                    <a class="dropdown-item" href="">
                      {{ usuarioLogueado.usuario.Nombre }}
                      {{ usuarioLogueado.usuario.Apellido }}
                    </a>
                    <a class="dropdown-item" href="#" (click)="logout()">Cerrar Sesión</a>
                  </span>

                  <div class="dropdown-divider"></div>
                  <div *ngIf="usuarioLogueado">
                    <span *ngIf="usuarioLogueado.usuario.Tipo==1">
                      <a class="dropdown-item" [routerLink]="['/dashboard-admin']">Dashboard Admin</a>
                    </span>
                    <span *ngIf="usuarioLogueado.usuario.Tipo==3">
                      <a class="dropdown-item" [routerLink]="['/perfil-admin-comercio']">Administrar Comercios</a>
                    </span>
                    <span *ngIf="usuarioLogueado.usuario.Tipo==4">
                      <a class="dropdown-item" [routerLink]="['/dashboard-comercio']"
                         [queryParams]="{comercio: id_comercio}">Comercio</a>
                    </span>
                  </div>


                </div>
              </div>
            </div>

            <!-- <div class="header__top__right__auth">
              <a [routerLink]="['/dashboard-comercio']">Dashboard Comercio</a>
              <a [routerLink]="['/dashboard-admin']">Dashboard Admin</a>

              <a [routerLink]="['/autenticacion']" *ngIf="usuarioLogueado == null"><i class="fa fa-user"></i> Iniciar sesión</a>
              <span *ngIf="usuarioLogueado != null">
                <i class="fa fa-user"></i> {{ usuarioLogueado.usuario.Nombre }} {{ usuarioLogueado.usuario.Apellido }}
                <a href="#" (click)="logout()">Cerrar Sesión</a>
              </span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
