
<div class="container">
  <h1>Lista de categorias</h1>

  <div >
    <input #searchImp type="text" (input)="obtener(searchImp.value)" placeholder="Buscar.." />

  </div>
  <table class="table table-striped .table-responsive-sm" >
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of service.categorias">
        <td>{{categoria.Id}}</td>
        <td>{{categoria.Nombre}}</td>
        <td><button (click)="editar(categoria)"  class="btn btn-secondary">Editar</button></td>
        <td><button (click)="eliminar(categoria.Id)"  class="btn btn-secondary">X</button></td>
      </tr>
    </tbody>
  </table>

  <div>
    <form>
      <fieldset>
        <div class="form-group">
          <label for="exampleInputEmail1">Id</label>
          <input type="text" class="form-control" id="txtId" readonly value="{{selectedCategoria.Id}}">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input type="text" class="form-control" id="txtName"  [(ngModel)]="selectedCategoria.Nombre" name="Nombre">
        </div>
        <button class="btn btn-primary" (click)="completarModificar(selectedCategoria)">Guardar cambios</button>
      </fieldset>
    </form>
  </div>
</div>

<app-footer></app-footer>
