<app-main-header></app-main-header>
<div class="container" *ngIf="sucursal_id">

 
  <div class="pt-3 px-4">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Ítems de sucursal</h1>
    </div>


    <div class="table-responsive">
      <div class="mb-4 col-md-6">
        <input type="text" class="form-control" placeholder="Buscar" name="filtroItem" [(ngModel)]="filtroItem" />
      </div>
      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items_sucursal">
        <thead>
          <tr>
            <th>Id ítem</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th>Duración</th>
            <th>Impuesto</th>
            <th>Inventario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items_sucursal | filtroItem:filtroItem">
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.descripcion }}</td>
            <td>₡ {{ item.precio }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.duracion }} min</td>
            <td>{{ item.id_impuesto }}</td>
            <td>{{ item.inventario }} uds</td>
            <td><button class="btn btn-primary" [routerLink]="['/item-editar', item.id]"> Editar </button></td>
            <td><button class="btn btn-danger" (click)="delete(item.id)"><i class="fas fa-trash-alt"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>
<app-footer></app-footer>
