<div *ngIf="sucursal_id">

  <div class="col-sm-auto d-flex justify-content-end">
    <a [routerLink]="['/item-sucursal', sucursal_id]">Volver atras</a>

  </div>

  <h2 class="d-flex justify-content-center">Items de sucursal</h2>

  <div>
    <button type="button" class="btn btn-primary" [routerLink]="['/item-crear', sucursal_id]">Crear Item</button>
  </div>

  <div>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items_sucursal">
      <thead>
        <tr>
          <th>Id Item</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Tipo</th>
          <th>Duracion</th>
          <th>Impuesto</th>
          <th>Inventario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items_sucursal">
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.descripcion }}</td>
          <td>{{ item.precio }}</td>
          <td>{{ item.tipo }}</td>
          <td>{{ item.duracion }}</td>
          <td>{{ item.id_impuesto }}</td>
          <td>{{ item.inventario }}</td>
          <!--<td><button class="btn btn-primary" [routerLink]="['/transaction-create', account.id_account, 'Debit']"> Debit </button></td>-->
          <td><button class="btn btn-primary" [routerLink]="['/item-editar', item.id]"> Editar </button></td>
          <td><button type="button" class="btn btn-danger" (click)="delete(item.id)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>



</div>
