<div class="modal fade" id="ModalCancelarCita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancelacion de Cita</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta cancelacion puede crear multas
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" [routerLink]="['/']">
          Entendido
        </button>
      </div>
    </div>
  </div>
</div>

<app-header></app-header>

<hr />

<div class="container" [hidden]="section != 'info'">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            src="https://p7.hiclipart.com/preview/355/848/997/computer-icons-user-profile-google-account-photos-icon-account.jpg"
            *ngIf="image == null" alt="" />
          <img src="{{image}}" alt="" class="rounded" />
        </div>
      </div>
      <div class="col-lg">
        <div class="profile-head">
          <div class="row">
            <div class="col">
              <h5>
                {{usuarioLogueado.usuario.Nombre }} {{usuarioLogueado.usuario.Apellido}}
              </h5>
            </div>

            <div class="md-auto" *ngIf="usuarioLogueado.usuario.Tipo != 4">
              <a [routerLink]="['/registrar-comercio']"> <button class="btn btn-outline-secondary btn-sm">Registrar comercio</button>
              </a>
            </div>
            &nbsp;
            <div class="md-auto">
              <button class="btn btn-outline-secondary btn-sm" (click)="changeSection('edit-profile')">Editar perfil</button>
            </div>
            &nbsp;
            <div class="md-auto">
              <a [routerLink]="['/direcciones/listar-direccion']"> <button class="btn btn-outline-secondary btn-sm">Mis direcciones</button></a>
            </div>
            &nbsp;
            <div class="md-auto">
              <a [routerLink]="['/lista-deseo']"> <button class="btn btn-outline-secondary btn-sm">Lista de Deseo</button></a>
            </div>

            <div class="col">
              <a [routerLink]="['/listar-compras']"> <button class="profile-edit-btn">Mis compras</button></a>
            </div>
          </div>
          <br>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Información personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="cita-tab" data-toggle="tab" href="#cita" role="tab" aria-controls="cita"
                aria-selected="false">Citas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pedidos-tab" data-toggle="tab" href="#pedidos" role="tab" aria-controls="pedidos"
                aria-selected="false">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false" *ngIf="usuarioLogueado.usuario.Tipo == 3">Comercios</a>
            </li>
          </ul>
        </div>

        <div class="col-md">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Cédula</label>
                </div>
                <div class="col-md-6">
                  <p>{{usuarioLogueado.usuario.Cedula}} </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Nombre</label>
                </div>
                <div class="col-md-6">
                  <p>{{usuarioLogueado.usuario.Nombre}} {{usuarioLogueado.usuario.Apellido}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Correo Electrónico</label>
                </div>
                <div class="col-md-6">
                  <p>{{usuarioLogueado.usuario.Correo}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Teléfono</label>
                </div>
                <div class="col-md-6">
                  <p>{{usuarioLogueado.usuario.Telefono}}</p>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="cita" role="tabpanel" aria-labelledby="cita-tab">
              <div *ngIf="citas; else noDisponible">
                <table class="table table-striped text-center">
                  <thead>
                    <tr>
                      <th class="text-center">Fecha</th>
                      <th class="text-center">Hora inicio</th>
                      <th class="text-center">Hora Fin</th>
                      <th class="text-center">Sucursal</th>
                      <th class="text-center">Empleado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cita of citas">
                      <td>{{cita.fecha_s}}</td>
                      <td>{{cita.hora_i}}</td>
                      <td>{{cita.hora_f}}</td>
                      <td>{{cita.nombre_comercio}} {{cita.nombre_sucursal}}</td>
                      <td>{{cita.nombre_empleado}}</td>
                      <td>
                        <button class="btn btn-outline-danger btn-sm" [routerLink]="['cita-detalles', cita.id]"  >Detalles</button>
                      </td>
                    </tr>
  
                  </tbody>
                </table>
              </div>
            </div>

            <!-- pedidos -->
            <div class="tab-pane fade" id="pedidos" role="tabpanel" aria-labelledby="pedidos-tab">
              <div *ngIf="pedidos; else noDisponiblePedidos">
                <table class="table table-striped text-center">
                  <thead>
                    <tr>
                      <th class="text-center">Id</th>
                      <th class="text-center">Sucursal</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pedido of pedidos" >
                      <td *ngIf="pedido.estado!=2">{{pedido.id}}</td>
                      <td *ngIf="pedido.estado!=2">{{pedido.sucursal}}</td>
                      <td *ngIf="pedido.estado!=2">{{estadoPedidoToString(pedido.estado)}}</td>
                      <td *ngIf="pedido.estado!=2">
                        <a [routerLink]="['envio-detalle/',pedido.id]">
                          <button class="btn btn-outline-info btn-sm"><i class="fas fa-eye"></i></button>
                        </a>
                      </td>
                    </tr>
  
                  </tbody>
                </table>
              </div>
            </div>

            <!--Inicio del timeline-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

              <table class="table table-striped text-center">
                <thead>
                  <tr>
                    <th class="text-center">Cédula jurídica</th>
                    <th class="text-center">Nombre legal</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Categoría</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let comercio of comercios">
                    <td>{{ comercio.cedulaJuridica }}</td>
                    <td>{{ comercio.nombreLegal }}</td>
                    <td>{{ comercio.nombre }}</td>
                    <td>{{ comercio.categorias[0] }}</td>
                    <td>
                      <a [routerLink]="['/dashboard-comercio']" [queryParams]="{comercio: comercio.id}">
                        <button type="button" class="btn btn-outline-info btn-sm">Seleccionar</button>
                      </a>
                    </td>
                    <td>
                      <button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminarComercio(comercio)">X</button>
                    </td>
                  </tr>

                </tbody>
              </table>
              <!--final del timeline-->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      
    </div>
  </form>
</div>

<div class="container emp-profile" [hidden]="section != 'edit-profile'">
  <app-editar-usuario integrarCon="pagina" titulo="Editar informacion de usuario" id="{{usuarioLogueado.usuario.Id}}">
  </app-editar-usuario>
</div>

<app-footer></app-footer>

<ng-template #noDisponible>
    <p>Sin citas registradas</p>
</ng-template>

<ng-template #noDisponiblePedidos>
  <p>Sin pedidos registradas</p>
</ng-template>
